<h1>Has rechazado esta solicitud!</h1>
<h3>Lamentamos que hayas tenido que rechazar esta solicitud</h3>
<h4>Te estaremos avisando si otra persona te contacta, muchas gracias por
  utilizar nuestros servicios!</h4>