<div style="margin-bottom: 500px; margin-top: 300px;">
  <h1>Has rechazado esta orden de trabajo!</h1>
  <h3>Lamentamos que hayas tenido que rechazar esta orden</h3>
  <h4>Te estaremos avisando si otra persona te contacta, muchas gracias por
    utilizar nuestros servicios!</h4>
</div>